
@font-face {
    font-family: 'Disket Mono';
    src: url('disket/Disket-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Disket Mono';
    src: url('disket/Disket-Mono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav {
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

header {
    flex: 1 1 100vw;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    background-color: #dde7e6;
}

header .soon {
    flex: 1 1 20vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

header .img-soon {
    height: 65px; 
    width: auto; 
}

header p {
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #1D1051;
    font-family: 'Disket Mono', monospace;
}

nav {
    flex: 1 1 100vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
}

nav.show {
    display: flex;
    opacity: 1;
    right: 0;
}

nav.hide {
    display: none;
    opacity: 0;
    right: -100%;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    margin: 2%;
    font-size: 1rem;
}

header nav a.active {
    font-weight: bold;
}

header .btn_style {
    background: #0F2A5B;
    border: 1px solid #0F2A5B;
	color: #fff !important;
	cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
} 

header .btn_style:hover  {
	background-color: rgba(219, 230, 228, 0.5);
    color: #000 !important;
} 

#open_menu, #close_menu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    display: none;
}

.typed-cursor {
    display: none;
}

@media only screen and (max-width: 900px) {

    header {
        height: auto;
        padding: 10px;
    }

    #open_menu, #close_menu {
        display: block;
        color: #0F2A5B;
    }

    #close_menu {
        position: absolute;
        right: 40px;
        top: 5vh;
    }

    nav {
        position: fixed;
        top: 1px;
        left: 0;
        width: 100vw;
        background-color: rgba(219, 230, 228, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    nav.show {
        display: flex;
        opacity: 1;
    }
}