
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, footer, body {
    display: flex;
}

body {
    flex-wrap: wrap;
    flex: 1 1 100vw;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(#DBE6E4, #F1F1FA);
}

main {
    flex-wrap: wrap;
    overflow: hidden;
}

main section.homepage {
    display: flex;
    position: relative;
    width: 100vw;
    height: calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
}

main section.homepage .description h1 {
    font-family: 'Disket Mono', monospace;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #1D1051;
}

main section.homepage .description {
    margin-left: 5%;
    width: 40%;
    position: relative;
}

#description_site {
    height: 18vh;
}

main section.homepage .description p {
    font-size: 1rem;
    margin-top: 1vw;
    line-height: 1.5;
}

main section.homepage .description button#btn {
    background: #0F2A5B;
    border: 1px solid #0F2A5B;
	color: #fff;
	cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
} 

main section.homepage .description button#btn:hover  {
	background-color: rgba(219, 230, 228, 0.5);
    color: #000;
} 

main section.homepage .image img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 40vw;
}

main section#how_it_works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0;
    margin: 0 auto;
}

main section#how_it_works div {
    margin: 1.2vw;
    width: 20vw;
    text-align: center;
}

main section#how_it_works div h3 {
    margin-bottom: 10px;
    font-size: 1rem;
}

main section#how_it_works div p {
    font-size: 0.9rem;
}

main section#how_it_works span img {
    width: auto;
    height: 8rem;
    margin-bottom: 10px;
}

main section#about {
    background-color: #EAF5F7;
    padding: 100px 0;
}

main section#about div.about_text{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

main section#about div.about_text p {
    line-height: 2;
    font-size: 1rem;
}

footer {
    width: 100vw;
    background-color: #01173C;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-bottom {
    margin-top: 2rem; 
    color: #F1F1FA; 
    text-align: center;
}

footer .footer-bottom span {
    font-size: 1.5rem;
}

footer .itens {
    display: grid;
    grid-template-columns: 0.6fr 0.75fr 1fr 0.8fr;
    gap: 1rem;
    width: 90vw;
    margin: 0 auto;
    padding: 100px 1rem;
}

 h4 {
    padding: 1rem;
    line-height: 50px;
    font-weight: bold;
}

footer .sep {
    border-right: 1px solid #F1F1FA; /* Separador vertical direito */
}

footer .item {
    padding: 1rem;
}

footer div > p, div.item h4 {
    font-size: 1rem;
    color: #F1F1FA;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-footer .btn-flat {
    margin: 0 10px;
}

/* Personaliza o modal */
.modal {
    max-width: 520px;
    border: 3px solid #000;
    border-radius: 2% !important;
}

.modal .modal-content {
    text-align: center;
    padding: 30px 24px 10px !important;
}

.modal .modal-footer {
    padding-bottom: 70px !important;
}

.modal-content h4 {
    font-weight: 550;
    color: #0F2A5B;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0.1rem;
}

.modal-content p {
    font-weight: bold;
    font-size: 1rem;

    font-family: 'Courier New', Courier, monospace;
}

.modal-header {
    background-color: #01173C;
}

.modal-footer .btn-flat {
    color: #fff;
    font-weight: bold;
    background-color: #01173C;
    border-radius: 5%;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 0 10px !important;
}

.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: none !important;
}

.modal-footer {
    margin-top: 10px;
}

.modal-footer .btn-flat:hover {
    background-color: #e3f2fd;
    color: #01173C;
}

@media only screen and (max-width: 1300px) {

    main section.homepage {
        justify-content: center;
    }

    main section.homepage .description {
        text-align: center;
        width: 90vw;
        margin-left: 0;
    }

    main section.homepage .image img {
        display: none;
    }

    main section#how_it_works {
        flex-wrap: wrap;
    }

    main section#how_it_works div {
        margin: 3vw;
        width: 35vw;
        text-align: center;
    }

    footer .itens {
        text-align: center;
        grid-template-columns: 1fr;
        padding: 60px 0 20px 0;
    }

    footer .sep {
        border-right: none;
    }

    h4 {
        padding: 0;
    }

    .modal-content h4 {
        margin-bottom: 1rem;
    }
}