* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    flex-wrap: wrap;
    position: relative;
}

main section.homepage {
    display: flex;
    position: relative;
    height: calc(100vh - 120px);
    flex-direction: row;
    align-items: center;
    background: linear-gradient(#dde7e6, #DBE6E4, #D0E1E4, #E5E5F3);
    justify-content: space-between;
}

main section.homepage .description h1 {
    font-family: 'Disket Mono', monospace;
    font-weight: bold;
    font-size: 2.5vw;
    margin-bottom: 2vh;
    margin-top: 0;
    line-height: 1.5;
    color: #1D1051;
}

main section.homepage .description {
    margin-left: 5%;
    width: 35vw !important;
    position: relative;
}

#description_site {
    margin-top: 1.5rem;
    height: 6.5rem;
}

main section.homepage .description p {
    line-height: 1.5;
    font-size: 1vw;
}

main section.homepage .description button#btn {
    background: #0F2A5B;
    border: 1px solid #0F2A5B;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
}

main section.homepage .description button#btn:hover {
    background-color: rgba(219, 230, 228, 0.5);
    color: #000;
}

main section.homepage .image {
    position: relative;
    width: 65vw;
    height: 100vh;
}

main section.homepage .image img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75vh;
    width: auto;
}

.transition {
    height: 50px;
    background: linear-gradient(to bottom, rgba(229, 229, 243, 0.8), rgba(241, 241, 245, 0.8));
}

main section#how_it_works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 1vw;
    padding: 100px 0 10px;
}

main section#how_it_works div {
    margin: 1.2vw;
    width: 20vw;
    text-align: center;
}

main section#how_it_works div h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1vw;
}

main section#how_it_works span img {
    width: auto;
    height: 8rem;
    margin-bottom: 10px;
}

main section#about {
    padding: 100px 0;
    font-size: 1vw;
}

main section#about div.about_text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

main section#about div.about_text p {
    line-height: 2;
}

.logo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
}

.logo {
    max-width: 150px;
    height: auto; 
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.3s ease;
}

footer {
    background-color: #01173C;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

footer .footer-bottom {
    color: #F1F1FA;
    text-align: center;
    padding-top: 100px;
}

footer .itens {
    display: grid;
    grid-template-columns: 0.6fr 0.75fr 1fr 0.8fr;
    gap: 1rem;
    width: 90vw;
    margin: 0 auto;
}

h4 {
    padding: 1rem;
    line-height: 50px;
    font-weight: bold;
}

footer .sep {
    border-right: 1px solid #F1F1FA;
}

footer .item {
    padding: 1rem;
}

footer div>p,
div.item h4 {
    font-size: 1rem;
    color: #F1F1FA;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

/* Oculta os controles do vídeo */
.responsive-video::-webkit-media-controls {
    display: none !important;
}

.responsive-video::-moz-media-controls {
    display: none !important;
}

.responsive-video::-ms-media-controls {
    display: none !important;
}

.responsive-video::media-controls {
    display: none !important;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(229, 229, 243, 0.8), rgba(241, 241, 245, 0.8));
}

@media (min-height: 760px) {
    main section.homepage .image img {
        height: 650px;
        width: auto;
        object-fit: cover;
        object-position: bottom right;
    }
}

@media only screen and (min-width: 1350px) {

    main section.homepage .description {
        width: 40vw;
    }

    main section.homepage .image {
        width: 50vw;
    }
}

@media only screen and (max-width: 1000px) {

    main section.homepage .description {
        width: 60vw !important;
    }

    main section.homepage .description h1 {
        font-size: 3rem;
    }

    main section.homepage .description {
        width: 60vw;
        text-align: center;
        margin-left: 0;
    }

    #description_site {
        height: 7rem;
    }

    main section.homepage .description p,
    main section#how_it_works p,
    main section#how_it_works div h3,
    main section#about,
    footer {
        font-size: 1rem;
    }

    main section.homepage .description button#btn {
        font-size: 1rem;
    }

    main section.homepage {
        width: 100vw;
        justify-content: center;
    }

    main section.homepage .image {
        display: none;
    }

    main section#how_it_works {
        flex-wrap: wrap;
    }

    main section#how_it_works div {
        margin: 3vw;
        width: 35vw;
        text-align: center;
    }

    footer .itens {
        text-align: center;
        grid-template-columns: 1fr;
        padding: 60px 0 20px 0;
    }

    footer .sep {
        border-right: none;
    }

    h4 {
        padding: 0;
    }

    .modal-content h4 {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {

    main section.homepage .description {
        width: 80vw !important;
    }

    main section.homepage .description h1 {
        font-size: 2.5rem;
    }

    main section.homepage {
        justify-content: center;
    }

    main section.homepage .description {
        width: 95vw;
    }

    main section#how_it_works div {
        margin: 10px;
        width: 50vw;
    }

    #description_site {
        height: 9rem;
    }

    main section#how_it_works span img {
        margin: 0 5px;
    }

    main section#how_it_works div {
        width: 90vw;
    }

    .logo-grid {
        gap: 10px;
    }
}