
@font-face {
    font-family: 'Disket Mono';
    src: url('disket/Disket-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Disket Mono';
    src: url('disket/Disket-Mono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body header#my_header, nav#menu {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    background-color: initial;
    box-shadow: initial;
    height: initial;
    line-height: 30px;
    font-size: 1rem;
    height: 100%;
    box-sizing: border-box;
}

html body header#my_header {
    flex: 1 1 100vw;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    background-color: #dde7e6;
}

html body header#my_header a.soon {
    flex: 1 1 20vw;
    margin-left: 5%;
    display: flex;
    height: 100%;
    align-items: center;
}

html body header#my_header a.soon .img-soon {
    height: 65px; 
    width: auto; 
}

header#my_header .progress-form {
    background-color: #0F2A5B;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 8px;
}

html body header#my_header a.soon p {
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #1D1051;
    font-family: 'Disket Mono', monospace;
}

html body header#my_header nav#menu {
    flex: 1 1 100vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
}

html body header#my_header nav#menu.show {
    display: flex;
    opacity: 1;
    right: 0;
}

html body header#my_header nav#menu.hide {
    display: none;
    opacity: 0;
    right: -100%;
}

html body header#my_header a {
    text-decoration: none;
    color: inherit;
    color: initial;
    cursor: pointer;
}

html body header#my_header nav#menu a {
    margin: 2%;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

html body header#my_header nav#menu a.active {
    font-weight: bold;
}

html body header#my_header nav#menu a:hover {
    background: rgba(221, 231, 230, 0.5);
}

html body header#my_header button.btn_style {
    background: #0F2A5B;
    border: 1px solid #0F2A5B;
	color: #fff !important;
	cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
} 

html body header#my_header .btn_style:hover  {
	background-color: rgba(219, 230, 228, 0.5);
    color: #000 !important;
} 

#open_menu, #close_menu {
    border: none;
    background: none;
    font-size: 2rem !important;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    display: none;
}


.typed-cursor {
    display: none;
}

.menu_button {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {

    html body header#my_header nav#menu {
        flex: 1 1 100vw;
        justify-content: center;
        align-items: center;
        margin-right: 3em;
        height: 400px;
        z-index: 999;
    }

    header {
        height: auto;
        padding: 10px;
    }

    #open_menu, #close_menu {
        display: block;
        color: #0F2A5B;
    }

    #close_menu {
        position: absolute;
        right: 40px;
        top: 5vh;
    }

    nav#menu {
        position: fixed;
        top: 1px;
        left: 0;
        width: 100vw;
        background-color: rgba(219, 230, 228, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    nav#menu.show {
        display: flex;
        opacity: 1;
    }
}