header,
body {
    background-color: #EAF5F7 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 2%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(219, 230, 228, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #0F2A5B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}

.progress {
    width: 0%;
    height: 1vh;
    background-color: #7DA6B9;
}

.container {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    height: calc(99vh - 120px);
}

aside {
    width: 5%;
    overflow-y: auto;
    display: flex;
    position: relative;
}

.sidebar {
    position: relative;
    display: flex;
    flex: 1;
    color: white;
    align-items: center;
}

.group_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3.2vh auto;
    margin-left: 3.5vw;
    cursor: pointer;
}

.sidebar .sessions span.link {
    display: block;
    text-decoration: none;
    color: #1D1051;

    font-weight: bold;

    font-size: 1vw;
    margin-left: 1rem;
}

.sidebar .sessions span.number {
    border-radius: 50%;
    padding: 0.5vw 0.7vw;
    border: 1px solid #1D1051;
    font-size: 1vw;
}

.active_span {
    background-color: #1D1051;
    color: #fff;
}

.inactive_span {
    background-color: #fff;
    color: #1D1051;
}

.active {
    display: flex;
}

.inactive {
    display: none ;
}

.toggle_btn {
    position: absolute;
    top: 50%;
    right: 0px;
    background: none;
    border: none;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/*Conteudo principal*/
main {
    display: flex;
    flex-direction: row;
    width: 95%;
}

/*Coluna1 formulário*/
.main_column1 {
    width: 60%;
    font-size: 1vw;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form_container {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    max-height: 600px;
    max-width: 580px;

    min-height: 400px;
    min-width: 520px;

    height: 100%;
    width: 90%;
}

.form_group {
    margin-bottom: 20px;
    width: 90%;
    max-width: 520px;
}

main label.floating_label {
    position: relative;
    width: 100%;
    margin-top: 1vw;
}

main label.floating_label span {
    position: absolute;
    left: 0;
    bottom: 18px;
    color: #B3B3B3;
    transition: bottom 0.3s, font-size 0.3s, color 0.3s;
}

main .input_field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    overflow-y: hidden;
    resize: none;
    font-size: 16px;
    height: 25px;
    transition: border-bottom 0.3s;
    background: none;
}

.input_error {
    border-bottom: 2px solid red !important;
}

#keys_words {
    resize: none;
    padding: 10px;
    font-size: 10pt;
}

.input_field:focus,
.input_field:active {
    border-bottom: 2px solid #0F2A5B;
}

.input_field:focus~span,
.input_field:active~span,
.input_field:not(:placeholder-shown)~span {
    bottom: 50px;
    font-size: 0.8vw;
    color: #0F2A5B;
}

.input_field.input_error:focus~span,
.input_field.input_error:active~span,
.input_field.input_error:not(:placeholder-shown)~span {
    color: red !important;
}

.input_field.input_error:focus,
.input_field.input_error:active {
    border-bottom: 2px solid red;
}

i img {
    display: inline;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.columns {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.form_container h2{
    display: flex;
    justify-content: flex-start;
    font-family: 'Disket Mono', monospace;
    margin-bottom: 1vw;
}

input[type="radio"] {
    margin-left: 48px;
}

input[type="radio"]+label {
    margin-left: 10px;
}

.agroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.inputs {
    margin-bottom: 1vw;
}

.buttons {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: initial;
}

button.btn {
    background: #0F2A5B;
    border: 1px solid #0F2A5B;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px;
    margin-left: 10px;
}

button.btn:hover {
    background-color: rgba(219, 230, 228, 0.5);
    color: #000;
}

/*Segunda coluna prompt*/
.main_column2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

main 
.show_prompt,
.hide_prompt {
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
}

main .hide_prompt {
    display: block;
}

main .copy {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.textArea {
    position: relative;
    height: 70%;
    background-color: #fff;
    width: 100%;
    border-radius: 3%;
}

.textArea div.prompt_generator {
    padding: 8vh 8vw 8vh 4vw;
    text-align: justify;
    line-height: 4vh;
    font-size: 1rem;
    height: 90%;
    overflow: auto;
}

/* Estilos para a janela modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 30vh auto;
    padding: 30px;
    border: 1px solid #888;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 2rem;
    font-size: 1.2rem;
}

.modal_content .img {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.modal_content .img img {
    width: 10rem;
    height: 10rem;
}

.modal_content .text hr {
    margin: 20px 20px 20px 0;
}

.modal_content .text p span#percentage {
    color: #7DA6B9;
    font-weight: bold;
    font-size: 1.5rem;
}

.text > p:nth-child(1) {
    color: #1D1051;
    font-weight: bold;
    font-size: 1.5rem;
}

.text > p:nth-child(4) {
    margin-top: 20px;
}

/* Botão para fechar a janela modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {

    main .show_prompt {
        display: block;
    }

    .textArea {
        display: none;
    }

    .main_column1 {
        font-size: 1.5vw;
        width: 95%;
    }

    .main_column2 {
        width: 5%;
    }

    .sidebar .sessions span.link {
        font-size: 1.5vw;
    }

    .sidebar .sessions span.number {
        padding: 0.8vw 1vw;
        margin-right: 0.8rem;
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 850px) {

    .container {
        flex-direction: column;
        height: 100vh
    }

    aside {
        display: flex;
        margin-top: 50px;
        width: 100%;
        height: 80px;
    }

    main {
        flex-grow: 1;
    }

    main .main_column1,
    main .main_column2 {
        height: 100%;
    }

    .sidebar {
        display: flex !important;
        flex-direction: row;
        align-items: center;
    }

    .sidebar {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .sidebar .sessions {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sidebar .sessions span.link {
        font-size: 2.5vw;
    }

    .sidebar .sessions span.number {
        padding: 1vw 1.3vw;
        font-size: 2.5vw;
    }

    .toggle_btn {
        display: none;
    }

    main {
        width: 100%;
    }

    .main_column1 {
        font-size: 2vw;
        width: 100%;
        align-self: center;
        justify-self: center;
    }

    .main_column2 {
        width: 0.1%;
        height: 100%;
    }
}